<!DOCTYPE html>
<html lang="en">
<head>
    <title>Receipts</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    {% comment %} {% extends 'base.html' %}

    {% block content %} {% endcomment %}
    <main>
        <h1>My Receipts</h1>
        <table>
            <thead>
                <tr>
                    <th>Vendor<th>
                    <th>Total<th>
                    <th>Tax<th>
                    <th>Date<th>
                    <th>Category<th>
                    <th>Account<th>
                </tr>
            </thead>
            <tbody>
                {% for items in receipt_list %}
                    <tr>
                        <td>{{ items.vendor }}</td>
                        <td>{{ items.total }}</td>
                        <td>{{ items.tax }}</td>
                        <td>{{ items.date|date:"m/d/y" }}</td>
                        <td>{{ items.category.name }}</td>
                        <td>{{ items.account.name }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
        {% comment %} {% endblock content %} {% endcomment %}


</body>
</html>